.todo {

    padding: 16px;
    position: relative;
    height: 100vh;
    overflow-y: scroll;

    .logout {
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 0 32px;
    }

    .add-todo {
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 24px;
        right: 24px;
        border-radius: 50%;
        background-color: var(--successColor);
    }


    .form-todo {
        min-height: 250px ;
        padding: 16px;
    }


    h1 {
        margin: 16px 0;
    }

    .todo_list {
        list-style: none;


        li {
            background-color: #000;
            padding: 12px 16px;
            margin: 4px 0;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;

            .todos_buttons {
                width: 200px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;

                .todo_icon {

                    height: 36px;
                    width: 36px;
                    border-radius: 50%;
                    padding: 4px;
                    background-color: rebeccapurple;
                }

                .delete {
                    background-color: var(--dangerColor);
                }

                .info {
                    background-color: var(--primaryColor);
                }

                .done {
                    background-color: var(--successColor);
                }
            }
        }
    }

}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}